<?xml version="1.0"?>
<Project xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <propertyGroup>
    <StartProgram>D:\GameDevelopment\Unity\2021.3.16f1c1\Editor\Unity.exe</StartProgram>
    <StartArguments>-projectpath D:\GameDevelopment\Unity\Project\XLuaGF</StartArguments>
    <StartWorkingDirectory>D:\GameDevelopment\Unity\2021.3.16f1c1\Editor</StartWorkingDirectory>
    <CapturePrintMessagesToDebugOutputWindow>true</CapturePrintMessagesToDebugOutputWindow>
    <TextEncoding>65001</TextEncoding>
  </propertyGroup>
</Project>